@import "colors"

footer
     border-top: 1px solid $black-25
     padding: 30px
     padding-bottom: 10px

     .footer-heading
          font-size: 24px

     .footer-content
          display: flex
          flex-direction: row
          justify-content: space-between
          max-width: 900px
          margin-left: auto
          margin-right: auto

          .column-1
               width: calc(35% - (30px / 2))
               img
                    height: 100px

          .column-2
               width: calc(20% - (30px / 2))

          .column-3
               width: calc(45% - (30px / 2))

          .svg-icon
               width: 1em
               height: 1em
               display: inline-block
               fill: $gray68
               padding-right: 5px
               vertical-align: text-top
          .username
               font-size: 1em
          
          
          

     .endnotes
          border-top: 1px solid $gray85
          margin-top: 24px
          padding-top: 10px
          font-size: 12px
          color: $gray85
          display: flex
          flex-direction: row
          justify-content: space-between
          max-width: 900px
          margin-left: auto
          margin-right: auto
          a
               color: $gray68
               transition: color 0.25s
               &:hover, &:active
                    color: $gray25
                    

@media (max-width: 750px)
     .footer-content
          flex-direction: column !important
          gap: 30px
          .column-1
               width: 100% !important
          .column-2
               width: 100% !important
          .column-3
               width: 100% !important