<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <main class="default-main">
      {{ content }}
	 


	 {% include album.html albumname="GHPS School 03-04-24" %}
	 {% include album.html albumname="GHPS School 21-03-24" %}
	 {% include album.html albumname="GMPS School 25-03-24" %}
	 {% include album.html albumname="Moulana Azad School 27-02-24" %}
	 {% include album.html albumname="Our work (Report)" %}
	 {% include album.html albumname="SKS School 05-03-24" %}
	 {% include album.html albumname="Subramanyapura School 27-03-24" %}
	 {% include album.html albumname="SVCK School 31-07-24" %}
    </main>


		{% include footer.html %}
		<!-- {% include envsash.html %} -->

  </body>
</html>