<!DOCTYPE html>
<html lang="en-us">
	{% include head.html %}

	<body class="home-body">
		{% include navigation.html %}
		
		<main class="home-main">

			<div class="hero-wrapper">
				<div class="hero-background" id="hero-background"></div>
				<div class="hero-content" id="hero-content">

					<div class="hero-content-lockup">
						<div class="hero-title">Teaching for change.</div>
						<div class="hero-paragraph">{{site.long_description}}</div>
						
						<svg onclick="scrollMainIntoView()" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" width="40" height="40" >
							<g>
								<rect opacity="0" x="0" y="0"/>
								<path d="M9.96094 19.9219C15.4102 19.9219 19.9219 15.4004 19.9219 9.96094C19.9219 4.51172 15.4004 0 9.95117 0C4.51172 0 0 4.51172 0 9.96094C0 15.4004 4.52148 19.9219 9.96094 19.9219ZM9.96094 18.2617C5.35156 18.2617 1.66992 14.5703 1.66992 9.96094C1.66992 5.35156 5.3418 1.66016 9.95117 1.66016C14.5605 1.66016 18.2617 5.35156 18.2617 9.96094C18.2617 14.5703 14.5703 18.2617 9.96094 18.2617Z" fill="#ffffff" fill-opacity="1"/>
								<path d="M9.96094 4.99023C9.54102 4.99023 9.22852 5.29297 9.22852 5.72266L9.22852 10.6055L9.30664 12.666L8.33008 11.4941L7.16797 10.3223C7.03125 10.1855 6.85547 10.1074 6.65039 10.1074C6.25 10.1074 5.94727 10.4102 5.94727 10.8105C5.94727 11.0156 6.00586 11.1914 6.13281 11.3184L9.39453 14.5605C9.58984 14.7559 9.75586 14.8438 9.96094 14.8438C10.1758 14.8438 10.3516 14.7461 10.5371 14.5605L13.7891 11.3184C13.916 11.1914 13.9941 11.0156 13.9941 10.8105C13.9941 10.4102 13.6816 10.1074 13.2812 10.1074C13.0664 10.1074 12.8906 10.1758 12.7637 10.3223L11.6113 11.4941L10.6152 12.6758L10.6934 10.6055L10.6934 5.72266C10.6934 5.29297 10.3906 4.99023 9.96094 4.99023Z" fill="#ffffff" fill-opacity="1"/>
							</g>
						</svg>
					</div>

				</div>
			</div>

			<script>
				document.onload = function () {
					document.getElementById("hero-background").style.height = `${document.getElementById("hero-content").offsetHeight + document.getElementById("nav").offsetHeight}px`
				}
				window.onresize = function () {
					document.getElementById("hero-background").style.height = `${document.getElementById("hero-content").offsetHeight + document.getElementById("nav").offsetHeight}px`
				}
				function scrollMainIntoView() {
					document.getElementById("home-content").scrollIntoView();
				}
			</script>

			<div class="home-content" id="home-content">

				<div class="box-container-100">
					<p class="slogan" style="opacity: 0.3;">100 hours of <strong>teaching</strong>.</p>
					<p class="slogan" style="opacity: 0.4;">100 hours of <strong>learning</strong>.</p>
					<p class="slogan" style="opacity: 0.5;">100 hours of <strong>motivating</strong>.</p>
					<p class="slogan" style="opacity: 0.8;">100 hours of <em><strong>inspiring</strong></em>.</p>
					<h1 style="font-size: 96px; line-height: 120px">100 hours.</h1>
					
					<p>We set out with a goal - 100 hours of inspiring students. And we've completed 100 hours. Though, 100 hours of teaching isn't a small feat. Not to us. 100 hours have meant the world to us and has enabled us to bring the world to children across Bangalore.</p>
					<p>Here's to the first 100. And we're not stopping anytime soon.</p>
					<p><strong>Because we believe that change begins with education</strong>.</p>
				</div>


				<div class="box-container">
					<div class="box">
						<h1>Finance</h1>
						<div class="content">We teach subjects not included in traditional curriculum. This enables us to go above and beyond the classroom in the education we impart, making students curious to learn more and, crucially, to do more.</div>

					</div>
					<div class="box bg-image bg-1">
					</div>
				</div>
				
				
				<div class="box-container reverse">
					<div class="box bg-image bg-2">
					</div>
					<div class="box">
						<h1>Computer Science</h1>
						<div class="content">We teach subjects not included in traditional curriculum. This enables us to go above and beyond the classroom in the education we impart, making students curious to learn more and, crucially, to do more.</div>

					</div>
				</div>
				
				
				<div class="box-container">
					<div class="box">
						<h1>Aeronautics</h1>
						<div class="content">We teach subjects not included in traditional curriculum. This enables us to go above and beyond the classroom in the education we impart, making students curious to learn more and, crucially, to do more.</div>

					</div>
					<div class="box bg-image bg-3">
					</div>
				</div>
				
				
				<div class="box-container reverse">
					<div class="box bg-image bg-4">
					</div>
					<div class="box">
						<h1>Engineering</h1>
						<div class="content">We teach subjects not included in traditional curriculum. This enables us to go above and beyond the classroom in the education we impart, making students curious to learn more and, crucially, to do more.</div>

					</div>
				</div>
				
				
				<div class="box-container">
					<div class="box">
						<h1>Music</h1>
						<div class="content">We teach subjects not included in traditional curriculum. This enables us to go above and beyond the classroom in the education we impart, making students curious to learn more and, crucially, to do more.</div>

					</div>
					<div class="box bg-image bg-5">
					</div>
				</div>
				
				
				<div class="box-container-100" style="text-align: left !important;">
					<link rel="stylesheet" href="https://unpkg.com/d3-milestones/build/d3-milestones.css">
					<script src="https://unpkg.com/d3-milestones/build/d3-milestones.min.js"></script>

					<center>
						<h1>What we've done so far</h1>
					</center>
					
					<div id="timeline"></div>
                    	
					<script>
					  milestones('#timeline')
						.mapping({
						        'timestamp': 'date',
						        'text': 'title'
						      })
						      .parseTime('%b %Y')
						      .aggregateBy('month')
						      .optimize(true)
						      .distribution("top-bottom")
						      .render([
						        { date: "Jan 2024", title: 'TeamTeach is started' },
						        { date: "Feb 2024", title: 'Core team is finalised' },
						        { date: "Mar 2024", title: 'TeamTeach hosts its first session' },
						        { date: "Apr 2024", title: 'TeamTeach\'s methods are approved by the Government of Karnataka' },
						        { date: "May 2024", title: 'Interviewed by local news channel' },
						        { date: "Aug 2024", title: '100 hours of teaching completed' },
						        { date: "Sep 2024", title: 'Expanded internationally to South Africa' },
						        { date: "Sep 2024", title: 'Signed 25 MoUs with schools in South Africa' },
						        { date: "Oct 2024", title: 'Collaborated with the Department of Education and the Government of South Africa' },
						      ]);
					</script>
							 
					<center>
						<h1 style="margin-top: 100px;">By the numbers</h1>

						<div class="stat">
							<div class="number">
								5000+
							</div>

							<div class="name">
								students
							</div>
						</div>
						
						<div class="stat">
							<div class="number">
								100+
							</div>

							<div class="name">
								hours
							</div>
						</div>
						
						<div class="stat">
							<div class="number">
								10+
							</div>

							<div class="name">
								educators
							</div>
						</div>
						
						<div class="stat">
							<div class="number">
								25+
							</div>

							<div class="name">
								international schools
							</div>
						</div>
					</center>
				</div>
				
				
				

				<div class="contact-cta-container">
					<div class="box">
						<h1>Want us at your school?</h1>
						<div class="content">Contact us via <a href="https://www.twitter.com/_teamteach">Twitter</a>, <a href="https://instagram.com/team._.teach">Instagram</a>, or <a href="mailto:teamteach24@gmail.com">email</a>. We look forward to hearing from you!</div>

					</div>
				</div>


				{{content}}

			</div>

		</main>

		{% include footer.html %}
		<!-- {% include envsash.html %} -->
	</body>
</html>
