<!DOCTYPE html>
<html lang="en-us">
	{% include head.html %}

	<body class="home-body">
		{% include navigation.html %}
		
		<main class="home-main">

			<div class="hero-wrapper">
				<div class="hero-background" id="hero-background"></div>
				<div class="hero-content" id="hero-content">

					<div class="hero-content-lockup">
						<div class="hero-title">Teaching for change.</div>
						<div class="hero-paragraph">{{site.long_description}}</div>
						
						<svg onclick="scrollMainIntoView()" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" width="40" height="40" >
							<g>
								<rect opacity="0" x="0" y="0"/>
								<path d="M9.96094 19.9219C15.4102 19.9219 19.9219 15.4004 19.9219 9.96094C19.9219 4.51172 15.4004 0 9.95117 0C4.51172 0 0 4.51172 0 9.96094C0 15.4004 4.52148 19.9219 9.96094 19.9219ZM9.96094 18.2617C5.35156 18.2617 1.66992 14.5703 1.66992 9.96094C1.66992 5.35156 5.3418 1.66016 9.95117 1.66016C14.5605 1.66016 18.2617 5.35156 18.2617 9.96094C18.2617 14.5703 14.5703 18.2617 9.96094 18.2617Z" fill="#ffffff" fill-opacity="1"/>
								<path d="M9.96094 4.99023C9.54102 4.99023 9.22852 5.29297 9.22852 5.72266L9.22852 10.6055L9.30664 12.666L8.33008 11.4941L7.16797 10.3223C7.03125 10.1855 6.85547 10.1074 6.65039 10.1074C6.25 10.1074 5.94727 10.4102 5.94727 10.8105C5.94727 11.0156 6.00586 11.1914 6.13281 11.3184L9.39453 14.5605C9.58984 14.7559 9.75586 14.8438 9.96094 14.8438C10.1758 14.8438 10.3516 14.7461 10.5371 14.5605L13.7891 11.3184C13.916 11.1914 13.9941 11.0156 13.9941 10.8105C13.9941 10.4102 13.6816 10.1074 13.2812 10.1074C13.0664 10.1074 12.8906 10.1758 12.7637 10.3223L11.6113 11.4941L10.6152 12.6758L10.6934 10.6055L10.6934 5.72266C10.6934 5.29297 10.3906 4.99023 9.96094 4.99023Z" fill="#ffffff" fill-opacity="1"/>
							</g>
						</svg>
					</div>

				</div>
			</div>

			<script>
				document.onload = function () {
					document.getElementById("hero-background").style.height = `${document.getElementById("hero-content").offsetHeight + document.getElementById("nav").offsetHeight}px`
				}
				window.onresize = function () {
					document.getElementById("hero-background").style.height = `${document.getElementById("hero-content").offsetHeight + document.getElementById("nav").offsetHeight}px`
				}
				function scrollMainIntoView() {
					document.getElementById("home-content").scrollIntoView();
				}
			</script>

			<div class="home-content" id="home-content">


				<div class="box-container">
					<div class="box">
						<h1>Teaching for change</h1>
						<div class="content">We teach subjects not included in traditional curriculum. This enables us to go above and beyond the classroom in the education we impart, making students curious to learn more and, crucially, to do more.</div>

					</div>
					<div class="box bg-image">
					</div>
				</div>

				<div class="box-container">
					<div class="box bg-image">
						
					</div>
					<div class="box">
						<h1>Beyond the books</h1>
						<div class="content">Our mission is to show students that education isn't limited to the two ends of their textbooks, empowering them to develop a deep curiosity about the world around them.</div>

					</div>
				</div>

				<div class="box-container">
					<div class="box">
						<h1>Teaching to inspire</h1>
						<div class="content">Through our services, we aim to inspire students to see the world around them in a different light, one of curiosity and eagerness to learn.</div>

					</div>
					<div class="box bg-image">
					</div>
				</div>

				<div class="contact-cta-container">
					<div class="box">
						<h1>Want us at your school?</h1>
						<div class="content">Contact us via <a href="https://www.twitter.com/_teamteach">Twitter</a>, <a href="https://instagram.com/team._.teach">Instagram</a>, or <a href="mailto:teamteach24@gmail.com">email</a>. We look forward to hearing from you!</div>

					</div>
				</div>


				{{content}}

			</div>

		</main>

		{% include footer.html %}
		<!-- {% include envsash.html %} -->
	</body>
</html>
