<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <main class="default-main">
      {{ content }}
	 

    	 {% assign pdfs = site.data.navigation.pdfs %}
    	   {% for pdf in pdfs %}
	   <p>
 			<h2>{{ pdf.name | slice: 9, 500 | split: '.' | first }}</h2>
 			<p><a href="/_media/mous/{{ pdf.name }}" target="_blank">PDF></a></p>
		</p>
    	   {% endfor %}
    </main>



		{% include footer.html %}
		<!-- {% include envsash.html %} -->

  </body>
</html>