<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <main class="default-main">
      {{ content }}
	 
	 TeamTeach has been appreciated by the Director of SVCK group.
	 
	 
	 
	 <video controls src="/_media/recognition-svck.mp4"  style="width: 100%;"></video>
	 
	 
	 
	 <br><br><br>
	 TeamTeach has been recognised by local news channels as well.
	 <img src="/_media/news.jpeg" style="max-width: 100%;">
	 
    </main>

		{% include footer.html %}
		<!-- {% include envsash.html %} -->

  </body>
</html>